---
import MainLayout from "../../layouts/MainLayout.astro";
import DocsLayout from "../../layouts/DocsLayout.astro";
---

<MainLayout title="DuckyHQ - Docs">
  <DocsLayout
    title="Docs"
    type="Home"
    category="Documentation"
    colour="#0DB7FF"
  >
    <h1 class="h1">DuckyHQ Docs.</h1>
  </DocsLayout>
</MainLayout>
