<footer
  class="rounded-out border border-stroke-1 px-64 max-[500px]:px-24 py-24 pt-32 flex max-[500px]:flex-col max-[500px]:gap-16 max-[500px]:justify-center justify-between items-center"
>
  <div class="flex gap-16 items-center max-[500px]:flex-col">
    <a href="/" class="hover-effect-scale">
      <img src="/logo.svg" alt="Alive Logo" class="size-32" />
    </a>
    <div class="flex flex-col gap-0 max-[500px]:items-center items-start">
      <h3 class="h3">DuckyHQ</h3>
      <a href="https://dukc.dev" class="body hover-effect-colour text-center">
        by dukc
      </a>
    </div>
  </div>
  <div class="flex gap-16">
    <a href="https://github.com/DuckyHQ0" class="body hover-effect-colour">
      GitHub
    </a>
    <a href="https://discord.gg/UWCJbNVrKh" class="body hover-effect-colour">
      Discord
    </a>
  </div>
</footer>
